
<div id="topContContainer" class="container" >
    <h1 id="topContH1">Top Contributors</h1>
    <input id="filter" type="text" class="form-control" placeholder="Type here..."></input>
    <table id="tableContributors" class="table table-striped" contributors>
        <thead>
            <tr>
                <th>Nickname</th>
                <th>Team</th>
                <th>Contributions</th>
            </tr>
        </thead>
        <tbody id="topContTbody">
        </tbody>
    </table>
</div>