<div class="row" id="userRow">
  <div class="col-sm-5" id="formInfo">
    <h3>Mobile First</h3>
    <p> Web app adapted to run on different devices in order to provide a better experience to the user</p>
    <p> Among them we can mention: smartphones, iPhone, tablets, desktops, laptops</p>
  </div>
  <div class="col-sm-5">
      <img src="../../imgs/mobileFirst.png" id="mobileFirstImg"></img>
  </div>
</div>

<div class="row" id="redirectRow">
  <div class="col-sm-12" id="redirectColumn">
    <h3> Ready to start? <a ui-sref='search'>click here</a></h3>
  </div>
</div>